bin/
doxygen/
include/boost/
include/GL/
include/GLFW/
include/glm/
include/rapidxml/
include/bullet/
include/devil/
include/ignore/
src/ignore/
lib/
obj/

.gitattributes
3D\ Game\ Engine.cbp
3D\ Game\ Engine.depend
3D\ Game\ Engine.layout